<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="APP_DBEntities" connectionString="metadata=res://*/APPModel.csdl|res://*/APPModel.ssdl|res://*/APPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVBDD;initial catalog=APP_DB;persist security info=True;user id=app_imp_auto;password=1mpAut0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Dans l'exemple ci-dessous, la transformation « Replace » remplacera toute la
      <customErrors> section de votre fichier Web.config.
      Dans la mesure où il n'y a qu'une section customErrors sous le
      <system.web> nœud, il n'est pas nécessaire d'utiliser l'attribut « xdt:Locator ».

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
